*{

    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color:aliceblue;
    height: 4rem;
    line-height: 4rem;
    font-size: 50px;
}

.choice{
    height: 165px;
    width:  165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
    transform: scale(1.05);
    transition: 0.3s;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:10rem;
}

#user-score, #computer-score {
    font-size: 4rem;
}

#msg {
    background-color: #081b31;
    color: white;
    margin-top: 3rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top:5rem;
}

.creator{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

body{
    background-color: darkcyan;
    color: black;
}